body {
    margin: 0;
    background: #1f2157;
    color: #f5c7f7;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}

h1 {
    margin-top: 30px;
}

a:link {
    color: #a393eb;
    background-color: transparent;
    text-decoration: underline;
}
 a:visited {
    color: #f5c7f7;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #926aaa;
    background-color: transparent;
    text-decoration: underline;
}

#main-container {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
}

#background {
    background-image: url("gabriel-kraus-3X5ZhsDClY8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

#banner {
    /* outline:1px white solid; */
    display: flex;
    justify-content:center;
    font-size: 50px;
    margin-top: 25vh;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.sub-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sub-container > div {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 150px;
    padding-top: 30px;
    flex: 1 1 0;
}

#input-box {
    background-color: #27296d;
    box-shadow: 5px 5px 10px #15173d;
}

#logo {
    width: auto;
    display: block;
    height: 100%;
}

#credit {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 40vw;
    justify-content: center;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#temp-login-style {
    color: #a393eb;
    font-weight: bold;
    text-decoration: none;
}

#first-box {
    justify-content: center;
}

button {
    font-family: inherit;
    font-size: 1.17em;
    font-weight: bolder;
    color: #f5c7f7;
    margin-top: 10px;
    line-height: 22px;
    width: 280px;
    height: 60px;
    background-color: #4b4e92;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px #15173d;
}

.form-column {
    flex-basis: 50%;
}

fieldset {
    display: flex;
    border: none;
    margin:0;
    padding:0;
}

#input-box p {
    margin-top: 0px;
    margin-bottom: 25px;
}

button:active {
    background-color: #474b8d;;
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}
button:hover {
    background-color: #3f427c;;
}

/* input boxes */
input {
    font-size: 16px;
    color: #f5c7f7;
    background-color: #1f2157;
    border-color: #181a44;
    border-style: solid;
    width: 220px;
    height: 25px;
    border-radius: 5px;
}

input:focus {   
    border-color: #0f112c;
    box-shadow: 3px 3px 6px #15173d;
    outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1f2157 inset !important;
    -webkit-text-fill-color: #f5c7f7 !important;
}